body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
}
